<script type="text/x-handlebars">
    <div class="content">
        <div id="header">
            {{partial 'taskEntry'}}
        </div>
        <div id="task_lists">
            <div class="spacer"></div>
            <%= render :partial => "open_tasks" %>
            <%= render :partial => "closed_tasks" %>
        </div>
        <div id="task_details">
            <div class="task_background">
                <div id="task_description" ><span></span></div>
                <div id="stats">
                    <div id="created" class="stat">
                        <div class="label">Created Date:</div>
                        <div class="value"></div>
                    </div>
                    <div id="updated" class="stat">
                        <div class="label">Updated Date:</div>
                        <div class="value"></div>
                    </div>
                    <div id="status" class="stat">
                        <div class="label">Status:</div>
                        <div class="value"></div>
                    </div>
                </div>
                <div id="resources">
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
</script>
<%= render :partial => "task_entry" %>
