.background-spacemen {
    background-image: url("/assets/backgrounds/spacemen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-wood {
    background-image: url("/assets/backgrounds/body_bg_tile.jpg");

    body {
        background-image: url("/assets/backgrounds/top_bg_tile.png");
        background-repeat: repeat-x;
    }
}

.background-dark {
    background-image: url("/assets/backgrounds/dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-tree {
    background-image: url("/assets/backgrounds/tree-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-landscape-marvellous-butterfly {
    background-image: url("/assets/backgrounds/nature-landscape-marvellous-butterfly-wood-backgrounds-wood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
